<h1>Eat-Da-Burgers!!!</h1>
<main>

    <div class="container">
        <div class="row" id="row1">

            <div class="col-md-4 col-md-offset-1">
                <div class="panel-panel default">
                    <h2>Ready to Eat Burger</h2>
                    <ul class="list-group">
                        {{#each burgers}}
                        {{#unless this.devoured}}
                        <li class="list-group-item">
                            <div class="input-group">
                                <p class="burgerAvailable">{{this.burger_name}}</p>
                                <span class="input-group-btn">

                                    <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                                        <input type="hidden" name="devoured" value="true">
                                        <button class="btn btn-default btn-lg" type="submit">Devour it!</button>
                                    </form>
                                </span>
                            </div>
                        </li>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>


            <div class="row" id="row2">
                <div class="col-md-4 col-md-offset-2">
                    <h2>Devoured Burgers</h2>
                    <div class="panel panel-default">
                        <ul class="list-group">
                            {{#each burgers}}
                            {{#if this.devoured}}
                            <li class="list-group-item">
                                <p class="finished">{{this.burger_name}}</p>
                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="col-md-10 col-md-offset-1">
    <h2>Add burger & Click submit</h2>

    <form class="create-update-form" action="/burgers" method="POST">
        <div class="form-group">
            <textarea class="form-control input-lg" type="text" id="name" name="burger_name" row="3"></textarea>
        </div>
        <button type="submit" class="addBurgerButton">Submit</button>
    </form>
</div>